.ant-layout-sider {
  min-height: 100vh !important;
}

.anticon-sketch.anticon svg {
  width: 40px;
  height: 40px;
  margin: 9px;
  color: red;
}

.ant-menu-root.ant-menu-vertical,
.ant-menu-root.ant-menu-vertical-left,
.ant-menu-root.ant-menu-vertical-right,
.ant-menu-root.ant-menu-inline {
  padding: 0 4px;
  width: auto;
}
.sidebar-top-collapse {
  // display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;
  border-bottom: 1px solid #f0f0f0;
}
.ant-layout-sider {
  min-width: 240px !important;
}
.ant-layout-sider-children {
  height: 100vh;
  position: relative;
}

#sidebar {
  display: flex;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

#sidebar .userLogin {
  position: absolute;
  display: flex;
  right: 40%;
  flex-direction: column;
  justify-content: center;
  bottom: 20px;
  width: 70px;
}

#sidebar .userTitle {
  margin-top: 3px;
  line-height: 15px;
}
.ant-menu-item {
  margin: 15px 0 !important ;
  overflow: unset !important;
  white-space: unset !important;
}
.ant-menu-title-content {
  font-size: 18px !important;
}
