.ant-layout-header {
  background-color: rgb(250, 250, 250) !important;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  justify-content: flex-end;
  border-radius: 6px;
  margin-bottom: 6px;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
}
.link-title {
  color: rgb(0 0 0 / 60%) !important;
}
.ant-drawer-body {
  padding: 0 !important;
}
.ant-tag {
  padding: 4px !important;
  border-radius: 6px;
  font-size: 14px;
}
