.layout-admin {
  padding: 10px 20px;
  //   height: 100vh;
  background: #f7f7f7;
}
.outlet {
  background: white;
  border: 1px solid rgb(242, 241, 241);
  border-radius: 3px;
  padding: 10px 17px;
  min-height: 100vh;
}
