td {
  display: table-cell;
}
thead tr {
  height: 40px;
  border-radius: 10px;
  color: white;
}

thead tr th:first-child {
  border-radius: 10px 0 0 0;
}

thead tr th:last-child {
  border-radius: 0 10px 0 0;
}

tbody tr {
  height: 60px;
}

tbody tr td {
  padding: 10px;
}

.gender {
  width: 153px;
}

tr {
  border-bottom: 1px solid #ccc;
}

tr:last-child {
  border: none;
}

// table,
// th,
// td {
//   border: 1px solid black;
//   border-collapse: collapse;
// }
