#loginContainer {
    height: 100vh;
}

.loginWrap{
    display: flex;
    height: 90%;
    justify-content: center;
    align-items: center;
}

.loginWrap .loginFormLeft,
.loginWrap .loginImageRight{
    width: 50%;
}