:root {
  // Fonts
  --body-font: 'Poppins', sans-serif;

  // Z-index
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-overlay: 999;
  --z-modal: 1000;
  --z-loading: 10000;

  // color
  --cl-blue: #337ab7;
  --cl-green: #26b99a;
  --cl-yellow: #f0ad4e;
  --cl-red: #d43f3a;
  --cl-red-price: rgb(243, 11, 11);
  --cl-gray: #4b5f71;
  --cl-border-bottom-gray: #c5d0da;
  --cl-text-gray: #73879c;
}

// Start Base
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title_page h1 {
  font-weight: bold;
  color: var(--cl-text-gray);
  border-bottom: 2px solid var(--cl-border-bottom-gray);
  text-transform: capitalize;
}

h1 {
  font-size: 2em;
  font-weight: bolder;
}
h2 {
  font-size: 1.5em;
  font-weight: bolder;
}
h3 {
  font-size: 1.17em;
  font-weight: bolder;
}
h4 {
  font-size: 1em;
  font-weight: bolder;
}
h5 {
  font-size: 0.83em;
  font-weight: bolder;
}
h6 {
  font-size: 0.67em;
  font-weight: bolder;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.ant-tabs-content-holder {
  border: none !important;
}
