.col-12 {
  width: 100%;
}
.col-6 {
  width: 50%;
  height: 100px;
  padding: 20px;
}
.col-2 {
  width: 12.5%;
  padding: 20px;
}
.col-10 {
  width: 87.5%;
  padding: 10px;
}
.col-25 {
  width: 25%;
}
.col-75 {
  width: 75%;
}
.h-58px {
  height: 58px;
}
